.schedule-table {
  width: 100%;
}

.schedule-col--weeks {
  width: 21%;
}

.schedule-col--lecture {
  width: 20%;
}

.schedule-col--reading {
  width: 20%;
}

.schedule-col--workshops {
  width: 12%;
}

.schedule-col--assessment {
  width: 27%;
}
